In [1]:
import pandas as pd
import numpy as np

In [3]:
salaries = pd.read_csv("Data/16-17PlayerSalary.csv")

In [4]:
salaries.head()

           Player     Salary Team
0    A.J. Hammons   650000.0  DAL
1    Aaron Brooks  2700000.0  IND
2    Aaron Gordon  4351320.0  ORL
3      Aaron Gray   452059.0  DET
4  Aaron Harrison   375579.0  CHA

In [8]:
salary=salaries.drop_duplicates(subset="Player")

In [10]:
salary.to_csv("Data/Clean_16-17_salaries(1).csv")

In [11]:
stats = pd.read_csv("Data/16-17PlayerStats.csv")

In [12]:
clean_stats = stats.drop_duplicates(subset="Player")

In [22]:
clean_stats = pd.read_csv("Data/Clean_stats.csv")

In [24]:
clean_stats.head()

,Player,Pos,Age,Tm,G,GS,MP,PER,FTr,TRB%,...,VORP,FGA,FG%,3P%,eFG%,TRB,AST,STL,BLK,PTS
0,Alex Abrines,SG,23,OKC,68,6,1055,10.1,0.144,4.5,...,-0.1,341,0.393,0.381,0.531,86,40,37,8,406
1,Quincy Acy,PF,26,TOT,38,1,558,11.8,0.353,11.0,...,-0.1,170,0.412,0.411,0.521,115,18,14,15,222
2,Steven Adams,C,23,OKC,80,80,2389,16.5,0.392,14.2,...,1.5,655,0.571,0.000,0.571,615,86,88,78,905
3,Arron Afflalo,SG,31,SAC,61,45,1580,9.0,0.221,4.6,...,-0.6,420,0.440,0.411,0.514,125,78,21,7,515
4,Alexis Ajinca,C,28,NOP,39,15,584,12.9,0.225,16.0,...,-0.3,178,0.500,0.000,0.500,177,12,20,22,207

In [31]:
clean_stats= clean_stats.sort_values(by="Player")

In [33]:
clean_stats.to_csv("Data/Clean_stats.csv")